@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.tnegocio-label {

    font-family: 'Cabin', sans-serif;
    color: var(--main-color);
    text-align: left;

}

.tnegociocontainer {

    grid-gap: 1em;
    width: 400px;
    
}