.tittlemenu-label {

    color: var(--main-color);
    display: flex;
    justify-content: center;
    text-align: center;

}

.tittlemenu-container {
   
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1em;
    max-width: 90%;
    
}