.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.portada-containeer {
    /*width: 90%;*/
    
   

}

.card-portadanegocio {

    width: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 16px #C0C0C0;
    position: relative;
    
    
    
}

.card-portadanegocio img {

    border-radius: 5px 5px 0 0;
    display: flex;
    width: 100%;
    
}


.card-portadanegocio .info-portadanegocio {

    display: flex;  

}

.info-general {
    display: flex;
    padding-left: 2em;
    width: 100%;
    align-content: flex-start;
}  

.datos-negocio {
    padding-left: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}


.card-portadanegocio .info-portadanegocio img{
    width: 180px;
    height: 180px;
    border: 6px solid var(--main-color);
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
}

.apartado-aforo {
    padding: .5em 0 0 0;
    display: flex;
    justify-content: left;

}

.porcentaje-frase {
    display: flex;
    flex-direction: initial;

}

.card-portadanegocio .info-general .imagen-aforo img{

    width: 50px;
    height: 50px;
    border: 6px;
    margin-left: 140px;
    
}